<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Info.plist
   planty-tracker

   Created by Daria Kozlovska on 14/07/2025.
   Copyright (c) 2025 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>Potrzebujemy dostępu do aparatu, aby robić zdjęcia Twoich roślin.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Potrzebujemy dostępu do galerii, aby dodać zdjęcia Twoich roślin.</string>
</dict>
</plist>
